section.movie-section {

    div.movie-section-layout {

        div.banner-container {
            background-color: var(--color-dark);
            background-repeat: no-repeat;
            background-size: cover;
            color: var(--text-color-light);
            
            div.header-layout {
                gap: 1rem;

                div.poster-container {
                    height: 450px;
                    min-width: 300px;
                    width: 300px;
                    border-radius: var(--border-radius);
                    overflow: hidden;
    
                    img.poster-image {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
    
                div.info-container {
                    display: block;
    
                    h2 span.year {
                        font-weight: 300;
                        color: var(--color-secondary-lighter);
                    }
    
                    div.sub-title-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5rem;
                        margin: 1rem 0;

                        ul.genres {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;

                            li {
                                display: inline;
                                transition: all 0.2s ease-in-out;
                                cursor: pointer;

                                &::after {
                                    content: ",";
                                }

                                &:last-child::after {
                                    content: "";
                                }

                                &:hover {
                                    color: var(--color-secondary-lighter);
                                }
                            }
                        }
    
                        div.separator {
                            height: 5px;
                            width: 5px;
                            border-radius: 5px;
                            background-color: var(--color-white);
                        }
                    }

                    div.vote-average-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1rem;
                    }
    
                    p.tagline {
                        font-style: italic;
                        color: var(--color-secondary-lighter);
                    }
                }
            }
        }

        div.more-info-container {

            div.body-layout {
                gap: 1rem;
            }
        }
    }
}