section.movie-section {

    div.movie-section-layout {

        div.movie-header-section-layout {
            background-color: var(--color-dark);
            background-repeat: no-repeat;
            background-size: cover;
            color: var(--text-color-light);
            
            div.movie-header-layout {
                gap: 2rem;

                div.poster-container {
                    height: 450px;
                    min-width: 300px;
                    width: 300px;
                    border-radius: var(--border-radius);
                    overflow: hidden;
    
                    img.poster-image {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
    
                div.info-container {
                    display: block;
    
                    h2 span.year {
                        font-weight: 300;
                        color: var(--color-secondary-lighter);
                    }
    
                    div.sub-title-container {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 0.5rem;
                        margin: 1rem 0;

                        ul.genres li {
                            cursor: pointer;

                            &:hover {
                                color: var(--color-secondary-lighter);
                            }
                        }
    
                        div.separator {
                            height: 5px;
                            width: 5px;
                            border-radius: 5px;
                            background-color: var(--color-white);
                        }
                    }

                    div.vote-average-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1rem;
                    }
    
                    p.tagline {
                        font-style: italic;
                        color: var(--color-secondary-lighter);
                    }

                    div.profiles-container {

                        div.profile {
                            display: flex;
                            flex-direction: column;

                            span.name {
                                font-weight: 500;
                                margin-block-end: 0.3rem;
                            }

                            li {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        div.more-info-container {

            div.movie-body-section-layout {

                div.movie-body-layout {
                    gap: 2rem;
                }
            }
        }
    }
}

@media (max-width: 720px) {

    div.movie-header-layout {
        flex-direction: column !important;
        align-items: center;
    }
}
