<section class="movie-section custom-section" *transloco="let t">
    
    <div class="movie-section-layout custom-layout">

        <div *ngIf="movieDetails !== null"
            [style.background-image]="'linear-gradient(to right, #000000 150px, #000000D6 100%), url(https://image.tmdb.org/t/p/original' + movieDetails.backdrop_path + ')'"
            class="movie-header-section-layout header-section-layout">

            <div class="movie-header-layout header-layout">

                <div class="poster-container">
                    <img [src]="'https://image.tmdb.org/t/p/w300' + movieDetails.poster_path" class="poster-image" *ngIf="movieDetails.poster_path !== null">
                    <img [src]="'../../../../assets/images/common/image-not-available-placeholder.png'" class="image-not-available" *ngIf="movieDetails.poster_path === null">
                </div>
    
                <div class="info-container">
    
                    <h2>
                        {{ movieDetails.title }}
                        <span class="year"> {{ '(' + (movieDetails.release_date | dateFormat : yearFormat) + ')' }} </span>
                    </h2>

                    <div class="sub-title-container">
                        <span class="date"> {{ movieDetails.release_date | dateFormat : dateFormat }} </span>
                        <div class="separator"></div>
                        <ul class="genres comma-separated-list">
                            <li *ngFor="let genre of movieDetails.genres"> {{ genre.name }} </li>
                        </ul>
                        <div class="separator"></div>
                        <span class="runtime"> {{ movieDetails.runtime | runtime }} </span>
                    </div>

                    <div class="vote-average-container">
                        <app-vote-average
                            [voteAverageId]="'movie-details-' + movieDetails.id"
                            [voteAverage]="movieDetails.vote_average"
                            [outerSize]="50"
                            [innerSize]="46"
                            [fontSize]="18">
                        </app-vote-average>
                        <p-rating [(ngModel)]="rating" [stars]="5" [cancel]="false" (onRate)="onRate($event)" *ngIf="((logged$ | async) === true)"></p-rating>
                    </div>

                    <p class="tagline" *ngIf="movieDetails.tagline !== undefined && movieDetails.tagline !== ''"> {{ movieDetails.tagline | tagline }} </p>
                    <h3> {{ t('movies.movie.overview') }} </h3>
                    <p class="overview"> {{ movieDetails.overview }} </p>
    
                    <div class="profiles-container grid">

                        <div class="profile grid-item" *ngFor="let profile of profiles">
                            <span class="name"> {{ profile.name }} </span>
                            <ul class="comma-separated-list">
                                <li *ngFor="let job of profile.jobs"> {{ job }} </li>
                            </ul>
                        </div>

                    </div>
    
                </div>

            </div>
    
        </div>

        <div class="movie-body-section-layout body-section-layout">

            <div class="movie-body-layout body-layout">

                <div class="cast-container">

                    <h3> {{ t('movies.movie.topBilledCast') }} </h3>

                    <app-carousel carouselId="movie-details" *ngIf="((loadingCredits$ | async) === false)">
                        <app-card *ngFor="let person of cast; let i = index"
                            id="movie-details"
                            [cardId]="'top-rated-' + i"
                            [link]="'movie/' + person.id"
                            [photo]="person.profile_path"
                            [title]="person.name"
                            [subtitle]="person.character"
                            [showVoteAverage]="false">
                        </app-card>
                    </app-carousel>
    
                </div>

            </div>

        </div>
        
    </div>

</section>
