:host {
    padding: 1rem 1rem 2rem;

    div.card-layout {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow-low);
        height: var(--card-height);
        width: var(--card-width);
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        div.image-container {
            display: flex;
            flex-direction: column;
            height: var(--poster-height);
            width: var(--poster-width);
            justify-content: center;
            overflow: hidden;
            border-bottom-left-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
            box-shadow: var(--box-shadow-low);
            overflow: hidden;
            background: var(--color-secondary-lighter);

            img.poster-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
    
            img.image-not-available {
                width: 100%;
            }
        }

        div.vote-average-container {
            position: absolute;
            bottom: 56px;
            left: 19px;
            z-index: 1;
        }

        div.title-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            color: var(--text-color);
            padding: 10px 19px;
            font-weight: 500;

            span.title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                user-select: none;
            }

            span.subtitle {
                color: var(--color-secondary);
                font-weight: 300;
                user-select: none;
                font-size: 14px;
                line-height: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
}

@media (hover: hover)  {
    
    div.card-layout:hover {
        transform: scale(1.05);
        box-shadow: var(--box-shadow-high);
    }
}
