:host {
    padding: 1rem 1rem 2rem;

    div.card-layout {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow-low);
        height: var(--card-height);
        width: var(--card-width);
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        div.image-container {
            display: flex;
            flex-direction: column;
            height: var(--poster-height);
            width: var(--poster-width);
            justify-content: center;
            overflow: hidden;

            img.poster-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
    
            img.image-not-available {
                width: 100%;
            }
        }

        div.vote-average-container {
            position: absolute;
            bottom: 66px;
            left: 19px;
            z-index: 1;
        }

        div.title-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            bottom: 0;
            height: 85px;
            width: 100%;
            background-color: var(--background-color);
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
            color: var(--text-color);
            padding: 25px 19px 0;
            font-weight: 500;
            font-size: 14px;
            box-shadow: var(--box-shadow-low);

            span.title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                user-select: none;
            }

            span.date {
                color: var(--color-secondary);
                font-weight: 300;
                user-select: none;
            }
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: var(--box-shadow-high);
        }
    }
}
