<div [id]="cardId" class="card-layout">

    <div class="image-container">
        <img [src]="'https://image.tmdb.org/t/p/w300' + item.posterPath" class="poster-image" *ngIf="item.posterPath !== null">
        <img [src]="'../../../../assets/images/common/image-not-available-placeholder.png'" class="image-not-available" *ngIf="item.posterPath === null">
    </div>

    <div class="vote-average-container">
        <app-vote-average [cardId]="cardId" [voteAverage]="item.voteAverage"></app-vote-average>
    </div>

    <div class="title-container">
        <span class="title"> {{ item.title }} </span>
        <span class="date"> {{ item.releaseDate }} </span>
    </div>
    

</div>
