:host ::ng-deep {

    div.vote-average-layout {
        position: relative;
        height: 38px;
        width: 38px;
        border-radius: 19px;
        border: 2px solid (var(--color-primary-darker));
        background-color: var(--color-primary-darker);
        color: var(--color-white);
        box-shadow: var(--box-shadow-low);

        canvas {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }

        span {
            color: var(--color-white);
            display: block;
            line-height: 34px;
            text-align: center;
            width: 34px;
            font-size: 14px;
            font-weight: 300;
        }
    }
}
