:host ::ng-deep {

    div.vote-average-layout {
        position: relative;
        border-radius: 100%;
        border: 2px solid (var(--color-primary-darker));
        background-color: var(--color-primary-darker);
        color: var(--color-white);
        box-shadow: var(--box-shadow-low);

        canvas {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }

        span {
            color: var(--color-white);
            display: block;
            text-align: center;
        }
    }
}
