:host {

    div.vote-average-layout {
        height: 38px;
        width: 38px;
        border-radius: 19px;
        background-color: var(--color-white);
        color: var(--color-white);
        box-shadow: var(--box-shadow-low);
    }
}
