<ng-container *transloco="let t">

    <div class="header">
    
        <div class="navbar-container">
            <div class="left-container">
                <div class="logo-container" routerLink="board">
                    LOGO
                </div>
            </div>
            <div class="right-container">
                <div class="buttons-container">
                    <div class="button-container">
                        <button type="button"
                            class="header-button"
                            [ngClass]="{ 'selected': header.movies }"
                            routerLink="movies">
                                {{ t('movies.title') }}
                        </button>
                        <div class="selected-container" [ngClass]="{ 'selected': header.movies }"></div>
                    </div>
                    <div class="button-container">
                        <button type="button"
                            class="header-button"
                            [ngClass]="{ 'selected': header.series }"
                            routerLink="series">
                                {{ t('series.title') }}
                        </button>
                        <div class="selected-container" [ngClass]="{ 'selected': header.series }"></div>
                    </div>
                </div>
                <div class="login-container">
                    <button *ngIf="((logged$ | async) === false)"
                        type="button"
                        class="header-button"
                        routerLink="login">
                            {{ t('header.login') }}
                    </button>
                    <button *ngIf="((logged$ | async) === true)"
                        type="button"
                        class="header-button"
                        (click)="onClickLogOutButton()">
                            {{ t('header.logout') }}
                    </button>
                </div>
            </div>
        </div>
    
    </div>

</ng-container>
