h2 {
    font-weight: 500;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

h3 {
    font-weight: 500;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

p {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}
