:host {
    position: relative;

    div.carousel-layout {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0.5rem;
        overflow-x: auto;
    }

    &::after {
        content: "";
        width: 1.5rem;
        height: var(--card-height);
        position: absolute;
        top: 0;
        right: 0;
        background-image: linear-gradient(to right, var(--color-transparent) 0%, var(--background-color) 100%);
        will-change: opacity;
        pointer-events: none;
        padding: 1.5rem 0 2.5rem;
    }
}
