/* Variables */
@import './styles/variables.scss';

/* Styles */
@import './styles/layouts.scss';
@import './styles/scrollbar.scss';
@import './styles/sections.scss';

* {
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--text-color);
    font-family: var(--font-family);
    line-height: var(--line-height);
}
