/* Variables */
@import './styles/variables.scss';

/* Styles */
@import './styles/buttons.scss';
@import './styles/grid.scss';
@import './styles/layouts.scss';
@import './styles/lists.scss';
@import './styles/rating.scss';
@import './styles/scrollbar.scss';
@import './styles/sections.scss';
@import './styles/text.scss';

* {
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--text-color);
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}
