<section class="movies-section custom-section" *transloco="let t">
    
    <div class="movies-section-layout custom-layout">

        <div class="body-section-layout">
            
            <div class="body-layout">

                <div class="popular-container movies-container">
                    <div class="title-container">
                        <span class="material-symbols-rounded"> groups </span>
                        <h2> {{ t('movies.whatsPopular') }} </h2>
                    </div>
                    <app-carousel carouselId="popular" *ngIf="((loadingPopular$ | async) === false)">
                        <app-card *ngFor="let movie of (popularMovies$ | async) ?? []; let i = index"
                            [cardId]="'popular-' + i"
                            [link]="'movie/' + movie.id"
                            [photo]="movie.poster_path"
                            [title]="movie.title"
                            [subtitle]="movie.release_date"
                            [voteAverage]="movie.vote_average"
                            [showVoteAverage]="true">
                        </app-card>
                    </app-carousel>
                    <app-carousel-skeleton *ngIf="((loadingPopular$ | async) === true)"></app-carousel-skeleton>
                </div>
        
                <div class="now-playing-container movies-container">
                    <div class="title-container">
                        <span class="material-symbols-rounded"> play_arrow </span>
                        <h2> {{ t('movies.nowPlaying') }} </h2>
                    </div>
                    <app-carousel carouselId="now-playing" *ngIf="((loadingNowPlaying$ | async) === false)">
                        <app-card *ngFor="let movie of (nowPlayingMovies$ | async) ?? []; let i = index"
                            [cardId]="'now-playing-' + i"
                            [link]="'movie/' + movie.id"
                            [photo]="movie.poster_path"
                            [title]="movie.title"
                            [subtitle]="movie.release_date"
                            [voteAverage]="movie.vote_average"
                            [showVoteAverage]="true">
                        </app-card>
                    </app-carousel>
                    <app-carousel-skeleton *ngIf="((loadingNowPlaying$ | async) === true)"></app-carousel-skeleton>
                </div>
        
                <div class="upcoming-container movies-container">
                    <div class="title-container">
                        <span class="material-symbols-rounded"> upcoming </span>
                        <h2> {{ t('movies.upcoming') }} </h2>
                    </div>
                    <app-carousel carouselId="upcoming" *ngIf="((loadingUpcoming$ | async) === false)">
                        <app-card *ngFor="let movie of (upcomingMovies$ | async) ?? []; let i = index"
                            [cardId]="'upcoming-' + i"
                            [link]="'movie/' + movie.id"
                            [photo]="movie.poster_path"
                            [title]="movie.title"
                            [subtitle]="movie.release_date"
                            [voteAverage]="movie.vote_average"
                            [showVoteAverage]="true">
                        </app-card>
                    </app-carousel>
                    <app-carousel-skeleton *ngIf="((loadingUpcoming$ | async) === true)"></app-carousel-skeleton>
                </div>
        
                <div class="top-rated-container movies-container">
                    <div class="title-container">
                        <span class="material-symbols-rounded"> thumb_up </span>
                        <h2> {{ t('movies.topRated') }} </h2>
                    </div>
                    <app-carousel carouselId="top-rated" *ngIf="((loadingTopRated$ | async) === false)">
                        <app-card *ngFor="let movie of (topRatedMovies$ | async) ?? []; let i = index"
                            [cardId]="'top-rated-' + i"
                            [link]="'movie/' + movie.id"
                            [photo]="movie.poster_path"
                            [title]="movie.title"
                            [subtitle]="movie.release_date"
                            [voteAverage]="movie.vote_average"
                            [showVoteAverage]="true">
                        </app-card>
                    </app-carousel>
                    <app-carousel-skeleton *ngIf="((loadingTopRated$ | async) === true)"></app-carousel-skeleton>
                </div>
                
            </div>

        </div>

    </div>

</section>
